<template>
    <a onclick="javascript:$('#win_add_server').panel('open')" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">
        <b>Tambah Baru</b>
    </a>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
